h3{
    color:blue;
    right:80px;
    position:relative;
}
.liza
{
    background-color:white;
    height: 200px;
    width:400px;
    border-radius:7px;
}
#root
{
    background-color: dimgrey;
    height: 550px;
    width: 600px;
    left:500px;
    border-radius: 5px;
    position: relative;
    
}
.image{
    width:400px;
    position: relative;
    top:25px;
    border-radius: 5px;
}
h4{
    right:30px;
    color: lightslategrey;
    position: relative;
    
}
h1{
    position: relative;
    right:140px;
}